 /*Style the container for inputs*/
            .container{
                background-color: antiquewhite;
                padding: 20px;
            }
            input{
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing:border-box;
                margin-top: 6px;
                margin-bottom: 16px;
            }
            input[type=submit]{
                background-color: rgb(35, 86, 205);
                color: white;
            }
            #message{
                display: none;
                background-color: #ccc;
                color: #000;
                position: relative;
                padding: 20px;
                margin-top:10px;
            }
            #message p{
                padding: 10px 35px;
                font-size: 18px;
            }
            /*Add a green text color and a checkmark when requirements are right*/
            .valid{
                color: green;
            }
            .valid:before{
                position: relative;
                left: -35px;
                content: "✔";
            }

            /*Add a red text color and "x" when requirements are right*/
            .invalid{
                color: red;
            }
            .invalid:before{
                position: relative;
                left: -35px;
                content: "❌"; /*For emoji press window and dot*/
            }